@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikExtralight.otf") format("oft");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikExtralightItalic.otf") format("oft");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikLight.otf") format("oft");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikLightItalic.otf") format("oft");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikThin.otf") format("oft");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikThinItalic.otf") format("oft");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikRegular.otf") format("oft");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikRegularItalic.otf") format("oft");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikMedium.otf") format("oft");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikMediumItalic.otf") format("oft");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikSemibold.otf") format("oft");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikSemiboldItalic.otf") format("oft");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikBold.otf") format("oft");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikBoldItalic.otf") format("oft");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikSuper.otf") format("oft");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikSuperItalic.otf") format("oft");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikBlack.otf") format("oft");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/GraphikBlackItalic.otf") format("oft");
  font-weight: 900;
  font-style: italic;
}
